<h1>Teams</h1>

<div class="table-responsive">
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Short Name</th>
      <th scope="col">Full Name</th>
      <th scope="col">Year Founded</th>
      <th scope="col">Budget</th>
      <th scope="col">Team Articles</th>
      <th scope="col">Team Players</th>
      <th scope="col">Links</th>
      <th scope="col" colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @teams.each do |team| %>
      <tr>
        <td><%= team.shortname %></td>
        <td><%= team.fullname.truncate(30) %></td>
        <td><%= team.yearfounded %></td>
        <td><span class="input-group-addon">$</span><%= number_with_delimiter(team.budget, :delimiter => ',') %></td>
        <td><%= link_to 'Read', team_articles_path(team) %></td>
        <td><%= link_to 'Players', team_players_path(team) %></td>
        <td><%= link_to 'Show', team %></td>
        <td><%= link_to 'Edit ', edit_team_path(team) %></td>
        <td><%= link_to 'Destroy', team, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<br>

<%= link_to 'New Team', new_team_path, class: 'btn btn-primary' %> 
<%= link_to 'See Games Played', games_path, class: 'btn btn-primary' %> 
