
<p>
  <strong>Short Name:</strong>
  <%= @team.shortname %>
</p>

<p>
  <strong>Full Name:</strong>
  <%= @team.fullname %>
</p>

<p>
  <strong>Year Founded:</strong>
  <%= @team.yearfounded %>
</p>

<p>
  <strong>Budget:</strong>
  <span class="input-group-addon">$</span>
  <%= number_with_delimiter(@team.budget, :delimiter => ',') %>
</p>

<%= link_to 'Edit', edit_team_path(@team), class: 'btn btn-primary' %> 
<%= link_to 'Back', teams_path, class: 'btn btn-primary' %>
<p>
<p>
<%= link_to 'Articles', team_articles_path(@team), class: 'btn btn-primary' %> 
<%= link_to 'Players', team_players_path(@team), class: 'btn btn-primary' %> 
<%= link_to 'Coaches', team_coaches_path(@team), class: 'btn btn-primary' %> 
<%= link_to 'Managers', team_managers_path(@team), class: 'btn btn-primary' %> 
<%= link_to 'Owners', team_owners_path(@team), class: 'btn btn-primary' %> 
