<p id="notice"><%= notice %></p>

<p>
  <strong>Shortname:</strong>
  <%= @team.shortname %>
</p>

<p>
  <strong>Fullname:</strong>
  <%= @team.fullname %>
</p>

<p>
  <strong>Yearfounded:</strong>
  <%= @team.yearfounded %>
</p>

<p>
  <strong>Budget:</strong>
  <%= @team.budget %>
</p>

<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>
<p>
<%= link_to 'Players', team_players_path(@team) %> |
<%= link_to 'Coaches', team_coaches_path(@team) %> |
<%= link_to 'Managers', team_managers_path(@team) %> |
<%= link_to 'Owners', team_owners_path(@team) %>