
<p>
  <strong>Firstname:</strong>
  <%= @owner.firstname %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @owner.lastname %>
</p>

<p>
  <strong>Team:</strong>
  <%= @owner.team.fullname %>
</p>

<%= link_to 'Edit', edit_owner_path(@owner), class: 'btn btn-primary' %> 
<%= link_to 'Back', team_owners_path(@owner.team), class: 'btn btn-primary' %>
