<p id="notice"><%= notice %></p>

<h1>Managers</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Team</th>
      <th>Links</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @managers.each do |manager| %>
      <% if manager.team_id == params{1}["team_id"].to_i %>
        <tr>
          <td><%= manager.firstname %></td>
          <td><%= manager.lastname %></td>
          <td><%= manager.team.fullname %></td>
          <td><%= link_to 'Show', manager %></td>
          <td><%= link_to 'Edit', edit_manager_path(manager) %></td>
          <td><%= link_to 'Destroy', manager, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Manager', new_team_manager_path, class: 'btn btn-primary' %>
