<p id="notice"><%= notice %></p>

<h1>Games</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Home Team </th>
      <th>Away Team </th>
      <th>Winning Team </th>
      <th>Away Score </th>
      <th>Home Score </th>
      <th>Game Date </th>
      <th>Links </th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @games.each do |game| %>
      <tr>
        <td><%= game.hometeam.shortname %></td>
        <td><%= game.awayteam.shortname %></td>
        <% if game.winningteam %>
          <td><%= game.winningteam.shortname %></td>
        <% else %>
          <td><%= 'None' %></td>
        <% end %>
        <td><%= game.awayteamscore %></td>
        <td><%= game.hometeamscore %></td>
        <td><%= game.gamedate %></td>
        <td><%= link_to 'Show', game %></td>
        <td><%= link_to 'Edit', edit_game_path(game) %></td>
        <td><%= link_to 'Destroy', game, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Game', new_game_path, class: 'btn btn-primary' %>
