<p id="notice"><%= notice %></p>

<h1>Games</h1>

<table class="Table">
  <thead>
    <tr>
      <th>Hometeam</th>
      <th>Awayteam</th>
      <th>Winningteam</th>
      <th>Awayteamscore</th>
      <th>Hometeamscore</th>
      <th>Gamedate</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @games.each do |game| %>
      <tr>
        <td><%= game.hometeam.fullname %></td>
        <td><%= game.awayteam.fullname %></td>
        <% if game.winningteam %>
          <td><%= game.winningteam.fullname %></td>
        <% else %>
          <td><%= 'None' %></td>
        <% end %>
        <td><%= game.awayteamscore %></td>
        <td><%= game.hometeamscore %></td>
        <td><%= game.gamedate %></td>
        <td><%= link_to 'Show', game %></td>
        <td><%= link_to 'Edit', edit_game_path(game) %></td>
        <td><%= link_to 'Destroy', game, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Game', new_game_path, class: 'btn btn-primary' %>
