<p id="notice"><%= notice %></p>

<p>
  <strong>Home Team:</strong>
  <%= @game.hometeam.fullname %>
</p>

<p>
  <strong>Away Team:</strong>
  <%= @game.awayteam.fullname %>
</p>

<p>
  <% if @game.winningteam %>
  <strong>Winning Team:</strong>
  <%= @game.winningteam.fullname %>
  <% end %>
</p>

<p>
  <strong>Away Score:</strong>
  <%= @game.awayteamscore %>
</p>

<p>
  <strong>Home Score:</strong>
  <%= @game.hometeamscore %>
</p>

<p>
  <strong>Game Date:</strong>
  <%= @game.gamedate %>
</p>

<%= link_to 'Edit', edit_game_path(@game), class: 'btn btn-primary' %> 
<%= link_to 'Back', games_path, class: 'btn btn-primary' %>
