<p id="notice"><%= notice %></p>

<h1>Coaches</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Firstname</th>
      <th>Lastname</th>
      <th>Team</th>
      <th>Links</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @coaches.each do |coach| %>
      <tr>
        <td><%= coach.firstname %></td>
        <td><%= coach.lastname %></td>
        <td><%= coach.team.fullname %></td>
        <td><%= link_to 'Show', coach %></td>
        <td><%= link_to 'Edit', edit_coach_path(coach) %></td>
        <td><%= link_to 'Destroy', coach, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Coach', new_team_coach_path, class: 'btn btn-primary' %>
