<p id="notice"><%= notice %></p>

<p>
  <strong>Firstname:</strong>
  <%= @coach.firstname %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @coach.lastname %>
</p>

<p>
  <strong>Team:</strong>
  <%= @coach.team.fullname %>
</p>

<%= link_to 'Edit', edit_coach_path(@coach) %> |
<%= link_to 'Back', team_coaches_path(@coach.team) %>
