<p id="notice"><%= notice %></p>

<h1>Players</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>First Name </th>
      <th>Last Name </th>
      <th>Nationality </th>
      <th>Position </th>
      <th>Years Experience </th>
      <th>Salary </th>
      <th>Team </th>
      <th scope="col">Links</th>
      <th scope="col" colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @players.each do |player| %>
      <% if player.team_id == params{1}["team_id"].to_i %>
      <tr>
        <td><%= player.firstname %></td>
        <td><%= player.lastname %></td>
        <td><%= player.nationality %></td>
        <td><%= player.position %></td>
        <td><%= player.yearsofexperience %></td>
        <td><span class="input-group-addon">$</span><%= number_with_delimiter(player.salary, :delimiter => ',') %></td>
        <td><%= player.team.fullname %></td>
        <td><%= link_to ("<i class='far fa-eye'></i>").html_safe, player_path(player) %></td>
        <td><%= link_to ("<i class='fas fa-edit fa-sm'></i>").html_safe, edit_player_path(player) %></td> 
        <td><%= link_to ("<i class='fa fa-trash fa-sm'></i>").html_safe, player, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <% end %> 
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Player', new_team_player_path, class: 'btn btn-primary' %>
