
<p>
  <strong>Vote:</strong>
  <%= @vote.vote %>
</p>

<p>
  <strong>Article:</strong>
  <%= @vote.article %>
</p>

<p>
  <strong>User:</strong>
  <%= @vote.user %>
</p>

<%= link_to 'Edit', edit_vote_path(@vote) %> |
<%= link_to 'Back', votes_path %>
